# This is an example .env file. Copy this file to .env and fill in the values.


# server config

NODE_ENV= your_NODE_ENV
PORT=your_PORT

# auth config

JWT_TOKEN= your_JWT_TOKEN

# sql config


SQL_HOST=your_SQL_HOST
SQL_USERNAME=your_SQL_USERNAME
SQL_PASSWORD=your_SQL_PASSWORD
SQL_DATABASE=your_SQL_DATABASE
SQL_DIALECT=your_SQL_DIALECT

# node mailer config

SMTP_HOST= your_SMTP_HOST
SMTP_PORT= your_SMTP_PORT
SMTP_USERNAME= your_SMTP_USERNAME
SMTP_PASSWORD= your_SMTP_PASSWORD
SMTP_FROM_ADDRESS= your_SMTP_FROM_ADDRESS
