# server config

JWT_TOKEN =your_JWT_TOKEN
PORT=your_PORT
NODE_ENV=your_NODE_ENV # [development,production]

# mongo config

MONGO_URI=your_MONGO_URI

# node mailer config

SMTP_HOST=your_SMTP_HOST
SMTP_PORT=your_SMTP_PORT
SMTP_USERNAME=your_SMTP_USERNAME
SMTP_PASSWORD=your_SMTP_PASSWORD
SMTP_FROM_ADDRESS=your_SMTP_FROM_ADDRESS
